doctype html
html(lang="en")
    head
        title UMS
        link(rel="stylesheet", href="/static/main.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
    body
        .navbar
            a.logo(href="/") 123
                span.logo_text Company
            nav.nav
                ul
                    li 
                        a(href="/") Home
                    li 
                        a(href="add") Create
                    li 
                        a(href="/workers") See all

        .wrapper
            block content

        .footer
            .top_footer
                .map
                    ul
                        li Site map
                        br
                        li
                            a(href="/")  Home
                        li
                            a(href="/add")  Create worker
                        li
                            a(href="/workers")  All workers
                .contact 
                    ul
                        li Contact Us
                        br
                        li +998 (92) 123 45 68
                        li +998 (92) 123 45 69
            .content
                p “This web application was created to fulfill Web Technology module’s requirements and does not represent an actual company or service”.
