doctype html
html(lang="en")
    head
        title UMS
        link(rel="stylesheet", href="/static/main.css")
    body
        .wrapper 
            h1.logo USER MANEGEMENT SYSTEM
            block main