doctype html
html(lang="en")
    head
        title UMS
        link(rel="stylesheet", href="/static/main.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
    body
        .logo 123 Company
        .wrapper
            h1.header USER MANEGEMENT SYSTEM
            block content