doctype html
html(lang="en")
    head
        title UMS
        link(rel="stylesheet", href="/static/main.css")
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css')
    body
        .navbar
            a.logo(href="/") 123
                span.logo_text Company
            nav.nav
                ul
                    li 
                        a(href="/") Home
                    li 
                        a(href="add") Create
                    li 
                        a(href="/workers") See all

        .wrapper
            block content

        .footer
            